<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Travel Experts</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>
            <span style="color: rgb(191, 255, 0);"><%= greeting %></span><br>
            Welcome to Travel Experts
        </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <div class="flex-container">
            <h2>Aren't you tired of cold winter in Calgary? We have a plan for you!</h2>
            <!-- Add the image next to welcome message -->
            <img src="/rockies.jpg" alt="Rockies Image">
        </div>
       
    </main>
    <footer>
        <p>&copy; 2024 Travel Experts. All rights reserved.</p>
    </footer>
</body>
</html>
